
*
{
  margin:0;
  padding:0;
}

.container
{
  background-color:#dddddd;
  min-height:600px;
  padding:300px;
}

.input-1
{
  margin-right:20px;
}

.input-field
{
  border:1px solid #dadada;
  border-radius:2px;
  box-sizing:border-box;
  float:left;
  font-size:20px;
  height:60px;
  margin-bottom:30px;
  padding:18px;
  width:319px;
}

.input-field:focus,.input-textarea:focus
{
  border:1px solid #ff3f5d;
  border-radius:2px;
}

.input-form
{
  background-color:#fff;
  border:1px solid #dadada;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  box-sizing:border-box;
  color:#333;
  margin:100px auto;
  max-width:800px;
  padding:90px 70px;
  position:relative;
  text-align:right;
}

.input-form::before
{
  background-color:#fff;
  background-image:url(../images/letter.png);
  background-position:center;
  background-repeat:no-repeat;
  border:1px solid #dadada;
  border-radius:50%;
  content:"";
  height:100px;
  left:50%;
  margin-left:-50px;
  position:absolute;
  top:-55px;
  width:100px;
}

.input-textarea
{
  border:1px solid #dadada;
  border-radius:2px;
  box-sizing:border-box;
  font-size:16px;
  height:200px;
  margin-bottom:20px;
  padding:15px;
  width:100%;
}

.relative_cont
{
  background-color:green;
  min-height:200px;
  min-width:200px;
  position:relative;
}

.send-button
{
  background:#ff3f5d;
  border:none;
  box-sizing:border-box;
  color:#fff;
  float:right;
  font-size:18px;
  height:50px;
  margin-left:auto;
  margin-right:0;
  padding:10px 30px;
}

.send-button-wrapper::after
{
  clear:both;
  content:"";
  display:table;
}

.send-button:hover,
.send-button:active
{
  background-color:#333;
}

.title
{
  font-family:Futura, Helvetica;
  font-size:30px;
  font-weight:normal;
  margin-bottom:40px;
  margin-top:0;
  text-align:center;
}
